
.navbar {
    background-color: #333;
    overflow: hidden;
    height: 48px;
    position: fixed;
    top: 0;
    width:96%;
}

    .navbar a {
        float: right;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: inline-block;
        box-sizing: border-box;
        display: inline-block;
    }

    .navbar left {
        float: left;
        color: blue;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
        margin: 0;
        padding: 0;
        display: inline-block;
    }

    .navbar a:hover {
        background-color: #ddd;
        color: black;
    }

.nav ul li:hover {
    background: #000;
    cursor: pointer;
    transition: background .5s;
}
