/* Style for the navigation bar */
.navbar {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    height: 48px;
    padding: 0 16px;
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    left: 0;
}

    /* Style for the navigation links */
    .navbar a {
        align-items: left;
        background-color: transparent;
        color: #fff;
        text-decoration: none;
        margin-right: 10px;
        padding: 10px;
        flex: 0 0 auto;
    }

        /* Hover effect */
        .navbar a:hover {
            background-color: #ddd;
            color: #000;
            padding: 14px 10px;
        }
