

.navbar {
    background-color: #C8102E;
    height: 48px;
    position: center;
    top: 0;
    width: 100%;
    color: #FFF9D9;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

    .navbar a {
        float: right;
        color: #FFF9D9;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .navbar left {
        float: left;
        color: #FFF9D9;
        text-align: left;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .navbar a:hover {
        background-color: #960C22;
        color: #FFF9D9;
    }

.nav ul li:hover {
    background: #000;
    cursor: pointer;
    transition: background .5s;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #C8102E;
    color: #FFF9D9;
    text-align: left;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin-top: auto;
}
